@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply m-0 min-w-[320px] min-h-screen bg-app-bg text-white;
  }

  #root {
    @apply w-full min-h-screen;
  }

  a {
    @apply font-medium no-underline;
  }
}
